MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=

SPRING_DATASOURCE_USERNAME=

LOCAL_DATABASE=
LOCAL_DATASOURCE_USERNAME=
LOCAL_ROOT_PASSWORD=

JWT_SECRET_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
NAVER_REDIRECT_URI=

KAKAO_CLIENT_ID=05da28170dddbbf7e6519326c59002a9
KAKAO_REDIRECT_URI=http://localhost:8080/login/oauth2/code/kakao
